body{
    background: #12A443;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.header>h1, .container>.panel-score{
    text-align: center;
    color: whitesmoke;
}

.header>h1{
    font-family: 'Righteous';
}

@media (min-width: 600px){
    .container{
        position: relative;
        margin-right: auto;
        margin-left: auto;
        max-width: 960px;
        padding-right: 20%;
        padding-left: 20%;
    }
}

@media (min-width: 400px){
    .container{
        position: relative;
        margin-right: auto;
        margin-left: auto;
        max-width: 960px;
        padding-right: 5%;
        padding-left: 5%;
    }
}

@media (max-width: 399px){
    .container{
        position: relative;
        margin-right: auto;
        margin-left: auto;
    }
}


.container>.panel-validation{
    background-color: whitesmoke;
    margin: 10px 0px;
    padding: 8px;
    border: 1px solid rgb(77, 134, 96);
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 3px 3px 5px rgb(57, 99, 71);
    border-radius: 8px;
    height:20px;
}

.word-baris{
   text-align: center;
}

.word-baris>.word{
    display: inline-block;
    width: 15%;
    height: 80px;
    background-color: rgb(159, 221, 180);
    margin: 4px 4px;
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    box-shadow: 3px 3px 5px rgb(57, 99, 71);
    border-radius: 8px;
    cursor: pointer;
}

.word-baris>.word.active{
    background-color: rgb(77, 134, 96);
    transform: translateY(3px);
}

.word-baris>.word:hover, .word-baris>.word:active, .word-baris>.word:focus{
    background-color: rgb(77, 134, 96);
    cursor: pointer;
}

.container>.panel-command{
    text-align: center;
    margin: 10px;
}

.panel-command>button{
    background-color: rgb(123, 179, 142); /* Green */
    box-shadow: 3px 3px 5px rgb(57, 99, 71);
    border-radius: 8px;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
}

.panel-command>button:hover{
    background-color: rgb(77, 134, 96);
    cursor: pointer;
}

  
.panel-command>button:active {
    transform: translateY(4px);
}

.container>.panel-list{
    background-color: whitesmoke;
    padding: 2px 0;
    width: 50%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    min-height: 50px;
    margin-top: 10px;
    box-shadow: 3px 3px 5px rgb(57, 99, 71);
    border-radius: 8px;
    border: 1px solid rgb(77, 134, 96);
    opacity: 0.8;
}

.panel-list>ul{
    padding: 0;
}
